.custom-footer {
  position:absolute;
  width: 100%;
  bottom:0;
  text-align: right;
}
.img-container {
  margin-top: 15px;
  text-align: center;
}
.side-bar {
  margin-top: 20px;
}

#footer_row {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
}

.chat-bar { 
  background-color: #D82D31;
  border-radius: 20px 0px 0px;
  font-size: 30px;
}

.btn:hover {
  background-color: #D82D31;
}


