.custom-footer {
  position:absolute;
  width: 100%;
  bottom:0;
  text-align: right;
}
.img-container {
  margin-top: 15px;
  text-align: center;
}
.side-bar {
  margin-top: 20px;
}

#footer_row {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
}
.science {
  background-color: #a7ffeb;
  text-align: center;
}
.parent-support {
  background-color: #ff80ab;
  text-align: center;
}
.machines {
  background-color: #b388ff;
  text-align: center;
}
.knowledge-body {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
}

.knowledge-text {
  text-align: center;
  font-family: "Courier New";
  font-size: 20px;
}

.page-title-knowledge {
  border-radius: 20px;
  background-color: #FFA400;
  font-family: "Courier New";
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  max-width: 500px;
}
.chat-bar {
  background-color: #D82D31;
  border-radius: 20px 0px 0px;
  font-size: 30px;
}

.top-bar-btn {
  margin-right: 20px;
  margin-left: 20px;
}

.btn:hover {
  background-color: #D82D31;
}

.chat-room {
  max-height: 580px;
  margin-left:50px;
  margin-right:50px;
  margin-top: 30px;
  text-align: center;
  overflow: auto;
}

.chat-room-element {
  background-color: #e3f2fd;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  border: 2px solid #64b5f6;
  font-size: 26px;
  margin-bottom: 10px;

}

.chat-room-element-btn {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.chat-room-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #64b5f6;
  font-weight: bold;
  font-size: 40px;
}

.page-title {
  border-radius: 20px;
  background-color: #64b5f6;
  font-family: "Courier New";
  font-size: 80px;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  max-width: 500px;
}

.chat-room-header {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #418DDD;
}

.circle {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #4679BD;
}

.header-btn-login {
  margin-top: 30px;
  margin-right: 50px;
  width: 100px;
  background-color: #d52c31;
}

.header-btn-signup {
  margin-top: 30px;
  margin-right: 50px;
  width: 100px;
  background-color: #418ddd;
}

.join-button {
  height: auto;
  width: 180px;
  font-size: 22px;
  background-color: black;
  color: red;
}

.messages-heading {
  border-radius: 20px;
}

div.ex1 {
    overflow: auto;
    max-height: 250px;
}

div.ex2 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

div.ex3 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
}

div.ex4 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: visible;
}

@font-face {
  font-family: DISKOPIA2;
  src: url('../Fonts/DISKOPIA2.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
