{% extends "layout.html" %}{% block body %}

<!-- Custom styles for this template -->
<link rel="stylesheet" href="../static/CSS/dashboard.css">

<div class="row">
      <div class="col s2"></div>
      <div class="col s3"><h1 style="background-color:DodgerBlue"></h1></div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s2"></div>
      <div class="col s3">
      <h1 style="background-color:DodgerBlue"></h1>
  	  </div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s1.5"></div>
      <div class="col s4">
      <h1 style="background-color:DodgerBlue"></h1>
  	  </div>
      <div class="col s1"></div>
      <div class="col s4"></div>
      <div class="col s1.5"></div>
</div>
<div class="row">
      <div class="col s1"></div>
      <div class="col s4 boards top_left">
		  	<h2>London</h2>
		  	<p>There are things  about london here. Blah Blah. Talking about london. info, here is  apic maybe, ok ok ok</p>
			</div>
  	  </div>
  	  <div class="col s1"></div>
      <div class="col s4 boards top_right">
		  	<h2>London</h2>
		  	<p>There are things  about london here. Blah Blah. Talking about london. info, here is  apic maybe, ok ok ok</p>
			</div>
  	  </div>
  	  <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s1"></div>
      <div class="col s4 boards bottom_left">
		  	<h2>London</h2>
		  	<p>There are things  about london k</p>
			</div>
  	  </div>
      <div class="col s2"></div>
      <div class="col s4 boards bottom_right">
		  	<h2>London</h2>
		  	<p>There are things  about/p>
			</div>
  	  </div>
      <div class="col s1"></div>
</div>
<div class="row">
      <div class="col s2"></div>
      <div class="col s3">
      <h1 style="background-color:DodgerBlue"></h1>
  	  </div>
      <div class="col s1"></div>
      <div class="col s3"></div>
      <div class="col s3"></div>
</div>
<div class="row">
      <div class="col s2"></div>
      <div class="col s3">
      <h1 style="background-color:DodgerBlue"></h1>
  	  </div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>

{% endblock %}
