{% extends "layout.html" %}
{% block body %}
<div class="page-title-knowledge">
  Learning Base
</div>

<div class="knowledge-body">
  <div class="row">
    <div class="col s4 science">
      <img src="../static/Images/science.png" width=250 height=250/>
    </div>
    <div class="col s4 parent-support">
      <img src="../static/Images/family.png" width=250 height=250/>
    </div>
    <div class="col s4 machines">
      <img src="../static/Images/cog.png" width=250 height=250/>
    </div>
  </div>
  <div class="row">
    <div class="col s4 knowledge-text">
      Current Research
    </div>
    <div class="col s4 knowledge-text">
      Parental Support
    </div>
    <div class="col s4 knowledge-text">
      Treatments and Machines
    </div>
  </div>

</div>


{% endblock %}
