<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="../static/CSS/layout.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:2000px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:270px" id="mySidebar">
  <div class="w3-container img-container">
    <a href="https://www.childrenwithcancer.org.uk/">
      <img src="../static/Images/cwc-logo.svg" width="180" height="180"/>
    </a>
  </div>
  <div class="w3-large w3-text-grey side-bar" style="font-weight:bold">
    <a href="#" class="w3-bar-item w3-button">Dashboard</a>
    <a href="#" class="w3-bar-item w3-button">Profile</a>
    <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-bar-item w3-button">Learning Zone <i class="fa fa-caret-down"></i>
    </a>
    <div id="demoAcc" class="w3-bar-block w3-hide w3-medium">
      <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-caret-right w3-margin-right"></i>Relaxed</a>
    </div>
    <a href="#" class="w3-bar-item w3-button">Advice Place</a>
    <a href="#" class="w3-bar-item w3-button">All Chat</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-white w3-xlarge">
  <div class="w3-bar-item w3-padding-24">
    <a href="https://www.childrenwithcancer.org.uk/">
      <img src="../static/Images/cwc-logo.svg" width="96" height="96"/>
    </a>
  </div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:270px">
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:128px"></div>
  {% block body %}
  {% endblock %}
</div>
  

<!-- Footer -->

<footer class="custom-footer">
  <div class="row" id="footer_row">
    <div class="col s12 m5 offset-m7 l4 offset-l8" id="footer_row">
      <div class="btn chat-bar">
        <i class="far fa-circle"></i> <a class="buddiesText">Buddies</a>
      </div>
      <div class="buddies_chat">
      	<div class="chat_client_only">
      		<div class="first_sample_row">
      			<a> Chat title 1 </a>
      			<br>
      			<a> 23 people</a>
      		</div>
      		<div class = "black_line"></div>
      		<div class="first_sample_row">
      			<a> Chat title 2 </a>
      			<br>
      			<a> 28 people</a>
      		</div>
      		<div class = "black_line"></div>
      	</div>



      	<div class = "buddies_themselves">

      	 <a>Buddies</a>

      	</div>

      </div>
  
    </div>
	</div>


</footer>

<style>

	.black_line {
		background-color: black;
		height: 23px;
	}

	.first_sample_row a {
		margin-right: 60px;
		font-size: 23px;
		color: white;
	}

	.buddies_chat {
			position: fixed;
    		right: 0px;
    		bottom : -500px;
			height :500px;
			width: 500px;
			background:grey;
			
	}
	.chat_client_only {
		overflow: scroll;
	}
	.buddiesText {
		color:white;
	}
	.buddies_themselves {
		background: red;
		margin-bottom: 150px;

	}
	.buddies_themselves a {
		color: white;
		border-right: 40px;
		font-size: 33px;
	}

</style>

<script>
// Accordion
function myAccFunc() {
    var x = document.getElementById("demoAcc");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
//document.getElementById("myBtn").click();

 var something = document.getElementById('footer_row');

 var clicked = 0;
 something.onclick = function() {
 	if (clicked == 1) {
 		$('#footer_row').css({marginBottom: '-=500px'});
 	$('.buddies_chat').css({marginBottom : '-=500px'});
 	$('.buddiesText').text("Buddies");
 	clicked--;
 	}
 	else {
 	console.log("clicked");
 	$('#footer_row').css({marginBottom: '+=500px'});
 	$('.buddies_chat').css({marginBottom : '+=500px'});
 	$('.buddiesText').text("Chats");
 	clicked++;

 }
 }


// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
  

</html>
