{% extends "layout.html" %}{% block body %}
<div class="row"> <!-- created a grid to map out where items go -->
      <div class="col s2"></div> <!-- call names col sn where n is the amount of space given(width)-->
      <div class="col s3"><h1 style="background-color:DodgerBlue"></h1></div> <!-- blank header to create fewer rows -->
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s2"></div> <!--widths add up to 12, if sum is less then final col is given all the room.-->
      <div class="col s3"></div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s2"></div> <!-- avatar image followed by NAme, location and beads that the user has collected-->
      <div class="col s3"><img src="../static/Images/img_avatar1.png" height = 250 style = "border-radius:250px; border:2px solid #000000"></div>
      <div class="col s1"></div>
      <div class="col s3">
        <h3>Andrew Smith</h3>
        <p>Edinburgh, UK</p>
        <img src="../static/Images/bead1.jpg" alt="1 night in hospital" height = 70 width = 53> <img src="../static/Images/bead2.jpeg" alt="2 weeks in hospital" height = 50 width = 50> <img src="../static/Images/bead3.jpeg" alt="4 weeks in hospital" height = 42 width = 53>
      </div>
      <div class="col s3">  <img src="../static/Images/cog.png" height = 100></div>
</div>
<div class="row">
      <div class="col s2"></div> <!-- row for space-->
      <div class="col s3"><h1 style="background-color:DodgerBlue"></h1></div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
<div class="row">
      <div class="col s2"></div> <!--personal data and bio, etc -->
      <div class="col s5"><p font-size:40px>E-mail: andrew@gmail.com <br/> Age: 3 Years Old
  <br/><br/>Bio:<br/>I had been telling people how lazy Andrew was because he often refused to walk. I had been hard on him telling him he couldn’t have a piece of cake in the café unless he walked.
 </p>
      </div>
      <div class="col s2"></div>
      <div class="col s3"></div>
      <div class="col s2"></div>
</div>
{% endblock %}
